*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


html, body{
    width: 100%;
    height: 100%;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Track background */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #4776E6 0%, #8E54E9 100%); /* Gradient color */
    border-radius: 10px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #4e89ff 0%, #a066f5 100%); /* Brighter gradient on hover */
  }

/* login Page CSS */

.mainDiv{
    width: 100vw;
    height: 100vh;
}

.loginDivMain{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.959);
}

.NavBarLoginDiv{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

.NavBarLoginDiv h1{
    font-size: 29px;
}

.createAccountLink{
    text-decoration: none;
    background: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    border-radius: 30px;
    display: block;
}

.createAccountLink:hover{
    background-position: right center;
}

.loginDiv1{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContentDiv {
    width: 30vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
    backdrop-filter: blur(10px); /* Creates the frosted glass effect with blur */
    border-radius: 30px; /* Optional: Adds rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.411); /* Optional: Adds a faint border to enhance the glass effect */
    padding: 30px; /* Optional: Adds padding inside the div */
    color: white;
}  

.loginContentDiv1 {
    width: 30vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
    backdrop-filter: blur(10px); /* Creates the frosted glass effect with blur */
    border-radius: 30px; /* Optional: Adds rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.411); /* Optional: Adds a faint border to enhance the glass effect */
    padding: 30px; /* Optional: Adds padding inside the div */
    color: white;
}  


.loginContentDivHeading{
    font-size: 37px;
}
.loginContentDivPara{
    margin-top: 5px;
    font-size: 15px;
    color: rgb(181, 181, 181);
}

.InputContentDiv{
    margin-top: 40px;
}

.emailInput{
    width: 100%;
    height: 7vh;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    margin-top: 3px;
    color: white;
}

.paraInput{
    margin-left: 3px;
    font-size: 18px;
}

.InputContentDiv1{
    margin-top: 20px;
}

.loginBtnDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loginBtn {
    width: 100%;
    background: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    margin: 10px;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 30px;
    display: block;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.loginBtn:hover {
    background-position: right center; /* Slide the gradient */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transform: translateY(-3px); /* Lift the button slightly */
}

.orParaDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleSignINDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.googleSignINDiv1{
    width: 90%;
}

.InputContentDivName{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.InputContentDivEmail{
    margin-right: 10px;
}

.customToast{
    color: white !important;
    background: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%) !important;
    
}


/* main Page CSS */

.mainPageMainDiv{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    overflow-y: auto;
}

.navBarMainPage{
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logoNavBarMainPage h1{
    font-size: 28px;
}

.linkNavBarMainPage{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkElementNavBar{
    text-decoration: none;
    color: rgb(181, 181, 181);
    font-size: 17px;
    margin: 0px 20px;
}

.linkElementNavBar:hover{
    color: white;
}

.ProfileBtnNavBarMainPage{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileBtn{
    background: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px;
    padding: 6px 40px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    border-radius: 30px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.profileBtn:hover{
    background-position: right center;
}


.userInfoDiv {
    position: absolute;
    top: 70px; /* Adjust based on the Profile button's position */
    right: 10px;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
    backdrop-filter: blur(10px); /* Creates the frosted glass effect with blur */
    border-radius: 30px; /* Optional: Adds rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.411); /* Optional: Adds a faint border to enhance the glass effect */
    padding: 20px 30px; /* Optional: Adds padding inside the div */
    z-index: 1000;
    color: white;
}

.logoutBtn {
    background: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    padding: 3px 20px;
    text-align: center;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
}

.logoutBtn:hover {
    background-position: right center;
}

.userInfoDivPara1{
    font-size: 21px;
    font-weight: 600;
}

.userInfoDivPara2{
    color: rgb(181, 181, 181);
}


.mainPageContentDiv{
  width: 100vw;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: row;
}

.mainPageContentDiv1{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  margin-top: 40px;
}

.imageAndContentDiv{
  display: flex;
  margin-top: 40px;
}

.imageContentDiv{
  display: flex;
}

.imageDivImageContentDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.imageDivImageContentDiv img{
  width: 60px;
  border-radius: 50px;
}

.OtherInfoDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.OtherInfoDiv p{
  font-size: 16px;
  margin-bottom: 5px;
}


.getStartedHeading{
  font-size: 54px;
}

.cryptoCurrencyText {
    background: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
    display: inline-block; /* Ensure the span adapts to text size */
}

.paraMainPageContentDiv{
  width: 49vmax;
  margin-top: 30px;
  margin-bottom: 10px;
  color: rgb(209, 209, 209);
  font-size: 18px;
}


.analysisBtn {
  width: 17vmax;
  font-size: 16px;
  padding: 15px 20px;
  margin-top: 30px;
  background: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(240, 237, 237, 0.2); /* Light shadow for visibility */
  transition: all 0.3s ease;
}

.analysisBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(142, 84, 233, 0.5), rgba(71, 118, 230, 0.3));
  filter: blur(30px);
  animation: moveShadow 3s infinite ease-in-out;
  z-index: -1; /* Keep shadow behind button */
}

.analysisBtn:hover {
  transform: scale(1.05);
}

@keyframes moveShadow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.mainPageContentDiv2 {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 40px;
}

.mainPageContentDiv2 video {
  width: fit-content;
  height: 80%;
  border-radius: 10px; /* Rounded corners for the video */
  box-shadow: 0 0 30px rgba(142, 84, 233, 0.6), 0 0 60px rgba(71, 118, 230, 0.6), 0 0 90px rgba(142, 84, 233, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}


.hiddenControls::-webkit-media-controls {
  display: none !important; /* Hides the native controls in WebKit browsers (Chrome, Safari, Edge) */
}

.hiddenControls::-moz-media-controls {
  display: none !important; /* Hides the controls in Mozilla Firefox */
}

.hiddenControls {
  outline: none; /* Removes the focus outline */
}

.btnDivs button{
  margin-right: 30px;
}

.reviewParaDiv {
  margin-top: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: rgb(181, 181, 181);
}

.reviewParaDiv p {
  margin: 0; /* Removes default margin */
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 5px; /* Adds space between items */
}

.reviewParaDiv strong {
  font-weight: bold;
  margin-right: 5px; /* Adds space after "EXCELLENT" */
}

.reviewParaDiv i {
  color: #B197FC;
  margin: 0 1px; /* Adds spacing around icons */
}

.reviewParaDiv .reviews {
  margin-left: 10px; /* Adds space between stars and review count */
  display: flex;
  align-items: center; /* Aligns text and icon properly */
}


.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  width: 60%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 50px 55px;
    border-radius: 50px;
    background: linear-gradient(145deg, rgba(50, 50, 50, 0.8), rgba(20, 20, 20, 0.8)); /* Gradient for a smooth, modern feel */
    backdrop-filter: blur(15px); /* Stronger blur for a more distinct background separation */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Soft but noticeable border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 4px 6px rgba(0, 0, 0, 0.2); /* Multi-layer shadow for a floating effect */
    transition: all 0.4s ease-in-out; /* Smoother transition */
    color: #d1d1d1; /* Lighter gray text for a sleek contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Elegant sans-serif font */
    overflow: hidden; /* Preventing any overflow from content */
}

.popupContent:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2), 
              0px 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover */
}

.popupContent h2 {
  margin-bottom: 20px;
  text-align: center;
}

.popupBtn {
  background: linear-gradient(to right, #4776e6, #8e54e9);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.popupBtn:hover {
  opacity: 0.9;
}

.mainDivContent {
  background: rgba(207, 207, 207, 0.077); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.563); /* Light border */
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.5); /* White shadow */
  border-radius: 12px;
  padding: 20px 70px;
  max-width: 80vmax;
  height: 35vmax;
  margin: 60px auto;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.heading {
  font-size: 3rem;
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 1.6;
  color: rgb(232, 232, 232);
}

.features {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.featureItem {
 background: linear-gradient(to right, #4776e6, #8e54e9);
  padding: 30px;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
}

.featureItem p{
  font-size: 1.1rem;
}

.uploadSection {
  text-align: center;
  margin-top: 20px;
}

.uploadLabel {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.resumeInput {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 10px auto;
  font-size: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.resumeInput:hover {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.resumeInput:focus {
  border-color: #8e54e9;
  background-color: rgba(255, 255, 255, 0.3);
}

.analyzeBtn {
  background: rgba(194, 194, 194, 0.125); /* Transparent white */
  backdrop-filter: blur(14px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Frosted effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Light white border */
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 30px auto;
  width: 20vmax;
  color: #ffffff; /* White text for contrast */
  text-transform: uppercase; /* Optional for a modern look */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* Subtle shadow */
}

.analyzeBtn:hover {
  background: rgba(236, 236, 236, 0.125); /* More opaque on hover */
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4); /* Enhanced shadow */
  transform: scale(1.05); /* Slight zoom on hover */
}



.OverAllResumePopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.OverAllResumepopupContent {
  width: 60%;
    max-width: 600px;
    display: flex;
    height: 750px;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 20px;
    background: linear-gradient(145deg, rgba(55, 55, 55, 0.782), rgba(20, 20, 20, 0.8)); /* Gradient for a smooth, modern feel */
    backdrop-filter: blur(15px); /* Stronger blur for a more distinct background separation */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Soft but noticeable border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 4px 6px rgba(0, 0, 0, 0.2); /* Multi-layer shadow for a floating effect */
    transition: all 0.4s ease-in-out; /* Smoother transition */
    color: #d1d1d1; /* Lighter gray text for a sleek contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Elegant sans-serif font */
    overflow-y: auto;
}

.OverAllResumepopupContent:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2), 
              0px 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover */
}

.OverAllResumepopupContent h2 {
  margin-bottom: 20px;
  text-align: center;
}

.OverAllResumepopupBtn {
  background: linear-gradient(to right, #4776e6, #8e54e9);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.OverAllResumepopupBtn:hover {
  opacity: 0.9;
}



.customGauge text{
  stroke: white !important; /* Change the stroke color of the gauge */
}
.customGauge path{
  stroke: white !important; /* Change the stroke color of the gauge */
}

.gaugeDiv{
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userNameAndScorePara{
  border: solid 1px white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.suggestionDiv{
   border: solid 1px white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.suggestionPara{
  font-size: 18px;
  margin-bottom: 10px;
}

.closeBtn{
  margin-top: 20px;
  padding: 10px;
}












